html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.field-validation-error {
  color: #CE4141;
}

.close-alert {
  font-size: 10px;
  position: absolute;
  right: -10px;
  top: -15px;
  border-radius: 30px;
  width: 25px;
  height: 25px;
}

.alert-success {
  width: auto;
  margin: auto;
  max-width: fit-content;
}

.alert-danger {
  width: auto;
  margin: auto;
  max-width: fit-content;
}